

image-gallery figure {
  overflow: hidden;
}

#removeLink{
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  font:inherit;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  

}



